@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Your default theme */
    --background: white;
    --foreground: black;
  }

  [data-theme="dark"] {
    --background: black;
    --foreground: white;
  }

  body {
    @apply flex flex-col justify-start items-center;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
